@use "../../main.scss" as *;

.delete-icon {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba($danger-color, 0.15);
  color: $danger-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  transition: all 0.2s ease-in-out;

  svg {
    font-size: 15px;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background-color: $danger-color;
    color: #ffffff;
  }

  &:hover svg {
    transform: scale(1.1);
  }
}
