@use "../../main.scss" as *;

.edit-icon {
  cursor: pointer;
  border-radius: 3px;
  background-color: #4397ff1a;
  color: #4397FF;
  display: inline-block;
  padding: 7px 10px;

  svg {
    font-size: 15px;
  }

  &:hover {
    background-color: #4397FF;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
  }

  &:hover svg {
    transform: scale(1.1);
  }
}