@use "../../main.scss" as *;

.service-form-modal {
    .modal-header {
        padding: 20px 20px;

        .modal-title {
            font-size: 18px;
            font-weight: 500;
        }
    }

    .modal-body {
        padding: 20px 20px;
        padding-bottom: 0px;

        .form-group {
            @include form-group-style;

            .file-upload {
                @include file-upload-style;
                width: 100%;
            }
        }

        .form-label {
            @include form-label-style;
        }

        .form-input {
            @include form-input-style;
        }
    }

    .modal-footer {
        border-top: none;
        margin: auto;
        padding: 10px 0px 20px 0px;
    }
}