@use "../../main.scss" as *;

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .page-title-wrap {
    h5 {
      font-size: 22px;
      font-weight: 500;
      color: $text-color;
    }

    p {
      margin: 0;
      color: $secondary-text-color;
    }
  }

  .page-header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
}
