@use "../../../../main.scss" as *;

.fields-page-container {
  .fields-table {
    .field-name-text {
      // font-weight: 600;
      color: $text-color;
    }

    .field-inputs-text {
      font-weight: 400;
      color: $secondary-text-color;
    }

    .fields-status-badge {
      padding: 6px 12px;
      border-radius: 7px;
      letter-spacing: 0.03em;
      white-space: nowrap;
      font-size: 13px;
      font-weight: 500;

      &.active {
        background: rgba(52, 211, 153, 0.16);
        color: #16a34a;
      }

      &.inactive {
        background: rgba(248, 113, 113, 0.16);
        color: #dc2626;
      }
    }
  }
}