@use "../../main.scss" as *;

.empty-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;

    .empty-records-image {
        width: 30%;
        height: auto;
    }

    .empty-text {
        font-size: 16px;
        font-weight: 400;
    }
}
