@use "../../main.scss" as *;

.reset-password-modal {
  .modal-dialog {
    max-width: 440px;
    margin: 1.75rem auto;
  }

  .modal-body {
    padding: 0;
  }

  .modal-content {
    padding: 36px 40px 32px;
    border-radius: 12px;
    border: none;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 25px;
    color: $text-color;
  }

  .modal-top {
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .input-container {
      display: flex;
      flex-direction: column;
      position: relative;

      .form-label {
        @include form-label-style;
      }

      .form-input {
        @include form-input-style;
      }

      .input-error {
        border-color: #d64545;
      }

      .input-wrapper {
        position: relative;

        .input-icon {
          @include password-icon-style;
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 8px;

    .app-btn {
      min-width: 130px;
    }
  }
}
