@use "../../../main.scss" as *;

.dcrs-page-container {
  .dcrs-table {
    .status-badge {
      padding: 4px 12px;
      border-radius: 6px;
      font-size: 12px;
      font-weight: 500;

      &.contacted {
        background: #ecfdf5;
        color: #10b981;
      }

      &.uncontacted {
        background: #fef2f2;
        color: #ef4444;
      }
    }
  }
}
