@use "../../../../../main.scss" as *;

.role-tab-content {
  .role-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .role-item {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .label {
        font-size: 14px;
        color: $secondary-text-color;
        font-weight: 500;
      }

      .value {
        font-size: 14px;
        color: $text-color;
        font-weight: 500;
        word-break: break-word;
      }
    }
  }
}

@media (max-width: 1024px) {
  .role-tab-content {
    .role-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 640px) {
  .role-tab-content {
    .role-grid {
      grid-template-columns: 1fr;
    }
  }
}
