@use "./styles/fonts";

:root {
  font-family: "Axiforma", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0, "clig" 0;
  --primary-color: #0060a9;
}

body {
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable Edge password reveal icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.error-message {
  position: absolute;
  bottom: 0;
  font-size: 13px;
  margin: 3px;
  color: #ff0000;
}

.required {
  color: #ff0000;
}

.input-error {
  border: 1px solid #ff0000 !important;

  &:hover {
    border: 1px solid #ff0000 !important;
  }

  &:focus-visible {
    outline: 0px solid transparent !important;
  }
}
