@use "../../../../main.scss" as *;

.mis-page-container {
  .mis-table {
    .mis-status-badge {
      padding: 6px 12px;
      border-radius: 7px;
      letter-spacing: 0.03em;
      white-space: nowrap;
      font-weight: 500;
      font-size: 13px;

      &.active {
        background: rgba(52, 211, 153, 0.16);
        color: #16a34a;
      }
      	
         &.inactive {
        background: rgba(248, 113, 113, 0.16);
        color: #dc2626;}
    }
  }
}