@use "../../../main.scss" as *;

.new-password-form {
  width: 100%;
  max-width: 450px;

  .title {
    font-size: var(--fs-h5);
    font-weight: 500;
    margin-bottom: 10px;
    color: $text-color;
    text-align: center;
  }

  .subtitle {
    font-size: var(--fs-body);
    text-align: center;
    color: $secondary-text-color;
    display: block;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    position: relative;

    .form-label {
      @include form-label-style;
    }

    .form-input {
      @include form-input-style;
    }

    .input-wrapper {
      position: relative;

      .input-icon {
        @include password-icon-style;
      }
    }
  }
}
